<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="../style.css">

</head>
<body>

    <header>
        <h2>Best Books!</h2>

    </header>

    <main>
        <div class="div1">
            <p>Search Results</p>
        </div>
    <div>
        <% books.forEach(item => {%>
            <div class="results">
           <img src="<%= item.img %>" alt="">
           <h1> <%= item.title %> </h1>
           <h2> <%= item.author %> </h2>
           <p> <%= item.description %> </p>

        </div>
        <% }); %>
    </div>
</main>

<footer>
    
</footer>
</body>
</html>