<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2>Best Books!</h2>

    </header>

    <main>
        <div id="main_div">
            <h1>Welcome to Best Books</h1>
      <a href="/search"><button>Search for a Book</button></a>
    </div>
    <div>
        <% books.forEach(item => {%>
            <div class="results">
           <img src="<%= item.img %>" alt="">
           <h1> <%= item.title %> </h1>
           <h2> <%= item.author %> </h2>

           <form action="/books/<%= item.id %>">

               <input type="submit" value="View details" class="select">
           </form>


        </div>
        <% }); %>
    </div>
    </div>
    </main>

    <footer>
        
    </footer>

</body>
</html>